<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;

        & th, td {
          border: 1 solid #afafaf;
          padding: 8px;
          text-align: left;
        }
        
        & th {
          background-color: #2e2e2e;
          color: #dcdcdc;
        }
      }
    </style>
  </head>

  <body>
    <h1>LISTA DE PRODUTOS</h1>
    <a href="{%url 'produto-create' %}">Adicionar Produtos</a>

    <table>
      <thead>
        <th>ID</th>
        <th>Nome</th>
        <th>Descricao</th>
        <th>Preço</th>
        <th>Qtd. Estoque</th>
        <th>Categoria</th>
        <th>Fornecedor</th>
      </thead>

      <tbody>
        {% for produto in produtos %}

        <tr>
          <td>{{produto.id}}</td>
          <td>{{produto.nome}}</td>
          <td>{{produto.descricao}}</td>
          <td>{{produto.preco}}</td>
          <td>{{produto.quantidadeEstoque}}</td>
          <td>{{produto.categoria}}</td>
          <td>{{produto.fornecedor}}</td>
        </tr>
        {% empty %}

        <tr>
          <td colspan="7">Nenhum Produto Encontrado</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
